In [52]:
import pandas as pd

In [53]:
cpp_data = pd.read_csv('../AutomatedTesting/ToolImplementation/data/cpp/dl_cpp_aug.csv')

In [54]:
cpp_data.head()

,BUGGY_CODE,FIXED_CODE
0,if ( y::is_none ( size ) ) { d -> set_size ( p...,if ( y::is_none ( size ) ) { d -> set_size ( p...
1,if ( y::is_none ( size ) ) { d -> set_size ( p...,if ( y::is_none ( size ) ) { d -> set_size ( p...
2,line_end = start ( ) ; while ( line_start < ra...,line_end = start ( ) ; while ( line_start < ra...
3,line_end = start ( ) ; while ( line_start < ra...,line_end = start ( ) ; while ( line_start < ra...
4,line_end = start ( ) ; while ( line_start < ra...,line_end = start ( ) ; while ( line_start < ra...

In [55]:
cpp_data.describe()

,BUGGY_CODE,FIXED_CODE
count,842,842
unique,842,257
top,if ( y::is_none ( size ) ) { d -> set_size ( p...,"std::map < ParallelType , bool > ParallelTypeB..."
freq,1,7

In [56]:
with open('./cpp/train.buggy-fixed.buggy', 'w') as f1, open('./cpp/train.buggy-fixed.fixed', 'w') as f2:
    length = cpp_data.shape[0]
    for i in range(length):
        f1.write(cpp_data.iloc[i]['BUGGY_CODE'] + '\n')
        f2.write(cpp_data.iloc[i]['FIXED_CODE'] + '\n')

In [57]:
py_data = pd.read_csv('../AutomatedTesting/ToolImplementation/data/py/dl_py_aug.csv')

In [58]:
py_data.head()

,BUGGY_CODE,FIXED_CODE
0,if len ( buffers ) > 0 : raise RuntimeError ( ...,if len ( buffers ) > 0 : raise RuntimeError ( ...
1,if len ( buffers ) > 0 : raise RuntimeError ( ...,if len ( buffers ) > 0 : raise RuntimeError ( ...
2,def arguments ( func : FunctionSchema ) -> Seq...,def arguments ( func : FunctionSchema ) -> Seq...
3,def arguments ( func : FunctionSchema ) -> Seq...,def arguments ( func : FunctionSchema ) -> Seq...
4,def arguments ( func : ) -> Sequence [ MetaArg...,def arguments ( func : FunctionSchema ) -> Seq...

In [59]:
py_data.describe()

,BUGGY_CODE,FIXED_CODE
count,506,506
unique,506,203
top,if len ( buffers ) > 0 : raise RuntimeError ( ...,"prev_node = get_normalized_nth_input ( node , ..."
freq,1,5

In [60]:
with open('./py/train.buggy-fixed.buggy', 'w') as f1, open('./py/train.buggy-fixed.fixed', 'w') as f2:
    length = py_data.shape[0]
    for i in range(length):
        f1.write(py_data.iloc[i]['BUGGY_CODE'] + '\n')
        f2.write(py_data.iloc[i]['FIXED_CODE'] + '\n')

In [61]:
cpp_test = pd.read_csv('../AutomatedTesting/ToolImplementation/data/cpp/dl_cpp_test.csv')

In [62]:
py_test = pd.read_csv('../AutomatedTesting/ToolImplementation/data/py/dl_py_test.csv')

In [63]:
cpp_test.describe()

,BUGGY_CODE,FIXED_CODE
count,58,58
unique,56,56
top,if ( bag_size . defined ( ) ) { bag_size_data ...,if ( bag_size . defined ( ) ) { bag_size_data ...
freq,2,2

In [64]:
py_test.describe()

,BUGGY_CODE,FIXED_CODE
count,44,44
unique,44,44
top,"def icdf ( self , value ) : if self . _validat...","def icdf ( self , value ) : return torch . tan..."
freq,1,1

In [65]:
with open('./cpp/test.buggy-fixed.buggy', 'w') as f1, open('./cpp/test.buggy-fixed.fixed', 'w') as f2:
    length = cpp_test.shape[0]
    for i in range(length):
        f1.write(cpp_test.iloc[i]['BUGGY_CODE'] + '\n')
        f2.write(cpp_test.iloc[i]['FIXED_CODE'] + '\n')

In [66]:
with open('./py/test.buggy-fixed.buggy', 'w') as f1, open('./py/test.buggy-fixed.fixed', 'w') as f2:
    length = py_test.shape[0]
    for i in range(length):
        f1.write(py_test.iloc[i]['BUGGY_CODE'] + '\n')
        f2.write(py_test.iloc[i]['FIXED_CODE'] + '\n')

In [67]:
cpp_val = pd.read_csv('../AutomatedTesting/ToolImplementation/data/cpp/dl_cpp_val.csv')

In [68]:
py_val = pd.read_csv('../AutomatedTesting/ToolImplementation/data/py/dl_py_val.csv')

In [69]:
cpp_val.describe()

,BUGGY_CODE,FIXED_CODE
count,30,30
unique,29,29
top,work = c10::make_intrusive<AsyncGatherCUDAWork...,work = c10::make_intrusive<AsyncGatherCUDAWork...
freq,2,2

In [70]:
py_val.describe()

,BUGGY_CODE,FIXED_CODE
count,24,24
unique,24,24
top,"def gen_returns ( returns : List [ Return ] , ...","def gen_returns ( returns : Tuple [ Return , ...."
freq,1,1

In [73]:
with open('./cpp/valid.buggy-fixed.buggy', 'w') as f1, open('./cpp/valid.buggy-fixed.fixed', 'w') as f2:
    length = cpp_val.shape[0]
    for i in range(length):
        f1.write(cpp_val.iloc[i]['BUGGY_CODE'] + '\n')
        f2.write(cpp_val.iloc[i]['FIXED_CODE'] + '\n')

In [74]:
with open('./py/valid.buggy-fixed.buggy', 'w') as f1, open('./py/valid.buggy-fixed.fixed', 'w') as f2:
    length = py_val.shape[0]
    for i in range(length):
        f1.write(py_val.iloc[i]['BUGGY_CODE'] + '\n')
        f2.write(py_val.iloc[i]['FIXED_CODE'] + '\n')